<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>releases</id> <!-- This ID must match your pom.xml distributionManagement release repo id -->
      <username>admin</username>
      <password>Devops@12345</password> <!-- Reference a Jenkins secret text credential ID -->
    </server>
    <server>
      <id>snapshots</id> <!-- This ID must match your pom.xml distributionManagement snapshot repo id -->
      <username>admin</username>
      <password>Devops@12345</password> <!-- Reference a Jenkins secret text credential ID -->
    </server>
  </servers>
  <mirrors>
    <!-- Optional: If you want to mirror all requests through Nexus -->
    <mirror>
      <id>nexus-public</id>
      <mirrorOf>*</mirrorOf>
      <url>http://13.60.116.9:8084/repository/maven-public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <url>http://13.60.116.9:8084/repository/maven-snapshots/</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <url>http://13.60.116.9:8084/repository/maven-snapshots/</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>